<!DOCTYPE html>
<html>
  <head>
    <title>Base</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
  </head>
<body>
  <div class="container">
    <%= render "layouts/flash"%>
  </div>
  <div id="content-wrapper" class="d-flex">
    <div id="sidebar-container" class="bg-light border-rigth">
       <div class="logo">
         Sistema Base
       </div> 
       <div class="menu-list-group-flash">
         <a class="list-group-item list-group-item-action bg-light p-3 border-0" href="#"><i class="fas fa-home"></i> Home</a>
       </div>
    </div>
  </div>
  

</body>
</html>


